<nav [@animNavBg]="location"
     #navbar
     class="navbar fixed-top navbar-expand-lg navbar-dark" >
  <button class="navbar-toggler" type="button" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav" [@animUpNavNav]="location">
      <li class="nav-item active" [@animNavLinks]="location">
        <a routerLink="/" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item" [@animNavLinks]="location">
        <a href="/features" class="nav-link">Team</a>
      </li>
      <li class="nav-item" [@animNavLogo]="location">
        <a class="navbar-brand" href="#"><img src="/assets/img/logo/blades.svg"></a>
      </li>
      <li class="nav-item" [@animNavLinks]="location">
        <a routerLink="/pricing" class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item" [@animNavLinks]="location">
        <a class="nav-link" href="#">Gallery</a>
      </li>
    </ul>

    <ul class="navbar-nav above" [@animNavNav]="location">
      <li class="nav-item active">
        <a routerLink="/" class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a href="/features" class="nav-link">Team</a>
      </li>
      <li class="nav-item">
        <a routerLink="/pricing" class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Gallery</a>
      </li>
    </ul>

  </div>
</nav>