html, body {
  margin: 0;
  padding: 0;
}
body {
  background: $body-bg;
  background-size: cover;
  color: $text-color;
}
h1, h2, h3, h4, h5 {
  margin: $headings-margin-top 0 $headings-margin-bottom 0;

  .sub {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    display: block;
  }
}
.hr {
  height: 1px;
  display: block;
  background: radial-gradient(ellipse, $indigo 0%, transparent 100%);
}

