<div class="site-wrapper">
  <div class="site-nav">
    <navbar></navbar>
  </div>

  <div class="site-content">
    <router-outlet></router-outlet>
  </div>


  <div class="site-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mr-auto">

        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 logo">
          <img src="/assets/img/logo/blades.svg" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 ml-auto">
          <ul class="contact-list">
            <li class="address">2533 Sand Pike Blvd, Suite 1, 37863</li>
            <li class="phone"><a href="tel:8654281833">865-428-1833</a></li>
            <li class="email"><a href="mailto:info@bladesalon.net">info@bladesalon.net</a></li>
          </ul>
          <h5>Directions</h5>
          <p>In the heart of Pigeon Forge TN, we are conveniently located a 1/2 mile off the parkway at traffic light 2B.</p>
          <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Sevierville</button>
            <button type="button" class="btn btn-primary">Gatlinburg</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer navbar navbar-dark justify-content-center">
    <div class="navbar-text">Copyright &copy; 2017 Blades Salon. All Rights Reserved</div>
  </div>
</div>

