@import "../scss/variables";
@import "../scss/mixins";

.header-section {
  padding-top: 74px;
  height: 100vh;
  @include section(url('/assets/img/headers/home-header-mobile.jpg') fixed center, cover, false);

  .content {
    height: 100%;
  }

  @include media-breakpoint-up(xl) {
    @include section(url('/assets/img/headers/home-header-uw.jpg') fixed center, cover, false);
  }
  @include media-breakpoint-between(md, xl) {
    @include section(url('/assets/img/headers/home-header-desktop.jpg') fixed center, cover, false);
  }
  @include media-breakpoint-between(sm, md) {
    @include section(url('/assets/img/headers/home-header-tablet.jpg') fixed center, cover, false);
  }
}

.image-row {
  @include make-row;
  margin: 5rem 0 0 0;
  padding: 0;

  .image {
    @include make-col-ready;
    @include make-col(6);
    @include media-breakpoint-up(sm) {
      @include make-col(3);
    }
    margin: 0;
    padding: 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.hours-row {
  @include make-row;
  margin: 5rem 0 0 0;
  justify-content: space-between;
  align-items: center;

  .verse-banner {
    @include make-col-ready;
    @include make-col(10);
    background-color: $blue;
    padding: 2rem 1rem 2rem 5rem;
    font-size: 1.5rem;

    @include media-breakpoint-up(lg) {
      @include make-col(6);
    }
  }

  .hour-list {
    list-style: none;
    font-size: 1.5rem;

  }
}

.masonry-cards {
  width: 100%;

  .team-card {
    @include elevation-2;
    @include elevation-hover;
    background: radial-gradient(ellipse, $blue, rgba($blue, .35));
    margin-bottom: 3rem;

    .card-body {
      background-color: $blue;

      .card-title {
        color: $indigo;
      }
    }
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }

    @media (min-width: map_get($grid-breakpoints, xxl)) {
      width: 23%
    }
    @include media-breakpoint-down(xxl) {
      width: 31%;
    }
    @include media-breakpoint-down(sm) {
      width: 47%;
    }
    @include media-breakpoint-down(xs) {
      width: 98%;
    }
  }
}