<div class="header-section">

</div>

<div class="section mt-5">
    <div class="centered-header">
        <h1>
            Welcome
            <span class="hr"></span>
        </h1>
    </div>
    <div class="content">
        <p>
            Blades Salon is Sevier County's premiere salon, offering the latest in trends and fashion and joyfully
            serving the community for over 15 years. With over 85 years of combined experience, our hair designers and
            master colorists will provide you with the transformation you have been looking for.
        </p>
        <div class="row justify justify-content-center">
            <div class="btn btn-primary elevation-hover">Book an Appointment<i class="material-icons md-2">date_range</i></div>
        </div>
    </div>
</div>

<div class="full-section">
    <div class="image-row">
        <div class="image">
            <img src="/assets/img/image-row/1.png">
        </div>
        <div class="image">
            <img src="/assets/img/image-row/2.png">
        </div>
        <div class="image">
            <img src="/assets/img/image-row/3.png">
        </div>
        <div class="image">
            <img src="/assets/img/image-row/4.jpg">
        </div>
    </div>

    <div class="hours-row">
        <div class="verse-banner elevation-2">
            <p>"And the very hairs on your head are numbered"</p>
            <p class="small text-center"> -Matthew 10:30</p>
        </div>

        <div class="col pl-5">
            <div class="card my-card">
                <div class="card-header">
                    <h3>Hours</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Tuesday: <span class="float-right">9:00 a.m. - 6:00 p.m</span></li>
                    <li class="list-group-item">Wednesday: <span class="float-right">9:00 a.m. - 6:00 p.m</span></li>
                    <li class="list-group-item">Thursday: <span class="float-right">9:00 a.m. - 6:00 p.m</span></li>
                    <li class="list-group-item">Friday: <span class="float-right">9:00 a.m. - 6:00 p.m</span></li>
                    <li class="list-group-item">Saturday: <span class="float-right">10:00 a.m. - 2:00 p.m</span></li>
                    <li class="list-group-item">Sunday: <span class="float-right">Closed</span></li>
                    <li class="list-group-item">Monday: <span class="float-right">Closed</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="centered-header mt-5">
        <h1>
            Staff
            <span class="hr"></span>
        </h1>
    </div>

    <div class="row m-0 p-5">
        <div class="masonry-cards">
            <div class="card team-card">
                <img src="/assets/img/team/doc.jpg">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Doc
                        <span class="sub">Owner / Hair Designer / Master Colorist</span>
                        <span class="hr"></span>
                    </h3>
                    <p>
                        Doc has over 32 years of experience in hair and has owned and operated Blades Salon for
                        over 15 years. He specializes in cuts, color, highlights and hair extensions.
                    </p>
                </div>
            </div>
            <div class="card team-card">
                <img src="/assets/img/team/tony.jpg">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Tony
                        <span class="sub">Owner / Hair Designer / Master Colorist</span>
                        <span class="hr"></span>
                    </h3>
                    <p>
                        With 15+ years in hair design, Tony has become an expert in 3D hair color and design and
                        specializes in long hair.
                    </p>
                </div>
            </div>
            <div class="card team-card">
                <img src="/assets/img/team/gail2.jpg">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Gail
                        <span class="sub">Hair Designer / Master Colorist</span>
                        <span class="hr"></span>
                    </h3>
                    <p>
                        Gail specializes in color formulation and precision hair cutting and styling techniques as
                        well as technologically superior smoothing systems and texturizers.
                    </p>
                </div>
            </div>
            <div class="card team-card">
                <img src="/assets/img/team/kelly.jpg">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Kelly
                        <span class="sub">Hair Designer / Master Colorist</span>
                        <span class="hr"></span>
                    </h3>
                    <p>
                        Kelly's energetic and fun personality is reflected in her talent with color correction,
                        dimensional foiling techniques, cuts and updos
                    </p>
                </div>
            </div>
            <div class="card team-card">
                <img src="/assets/img/team/cindy.jpg">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Cindy
                        <span class="sub">Hair Designer / Master Colorist</span>
                        <span class="hr"></span>
                    </h3>
                    <p>
                        Cindy is certified in hair extensions and excels in a variety of highlighting,
                        low-lighting, precision style cuts, blow outs, men's cut and color, up-do's.
                    </p>
                </div>
            </div>
            <div class="card team-card">
                <img src="/assets/img/team/michael.jpg">
                <div class="card-body">
                    <h3 class="card-title text-center">
                        Michael
                        <span class="sub">Hair Designer / Master Colorist</span>
                        <span class="hr"></span>
                    </h3>
                    <p>
                        Michael has over 30 years of experience and specializes in color, highlights, helix cuts for
                        men and women, as well as skin fades, pompadoor, flat tops of all kinds, and precision cuts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>